

header {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    height: 6rem;
}

header nav {
    display: flex;
    gap: 3rem;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

header nav li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: var(--neutral-700);
    margin: auto 0;
}

header .login_button {
    background: var(--primary-1);
    color: var(--secondary-1);

    padding: 1rem 1.5rem;
    border-radius: 3rem;
    border: 1px black solid;
    height: 4rem;
    margin: auto 0;
}

header img {
    display: block;
    margin: auto 0;
}


header ul a:hover {
    color: var(--primary-1);
    border-bottom: 0.125rem solid var(--primary-1);
    transition: .1s;
}

/* mobile */
header .hamburger {
    display: none;
    position: absolute;
    z-index: 100;
    top: 30%;
    right: 1rem;
    padding: 4px;

    border: none;
    background: white;
    cursor: pointer;
}

header .showMenu {
    transform: translateY(0);
}

.block {
    display: flex;
    width: 1440px;
    height: 1000px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

@media screen and (max-width: 1024px) {

    header nav button {
        text-align: center;
        align-self: center;
        margin: 0 auto;
        width: 200%;
    }
    header a[href='cart.html'] {
        margin: 0 auto;
    }
    header .hamburger {
        display: block;
    }


    header nav {
        display: flex;
        flex-direction: column;
        
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: white;

        list-style: none;
        padding-top: 4rem;
    }

    header ul {
        flex-direction: column;
    }
    header li {
        padding-top: 4rem;
    }

     
    header ul a {
        display: block;
        width: 8rem;
        margin: 0 auto;
    }

}